.input_model {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.input_model span {
  width: 10px;
}

.input_model input {
  width: 110px;
  height: 35px;
}

.input_model select {
  width: 100px;
  min-height: 35px;
}

.input_model button {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
  background-color: rgb(75, 255, 59);
}

@media screen and (max-width: 1000px) {
  .input_model {
    width: 100%;
  }

  .input_model > input,
  .input_model > select {
    flex: 1;
    width: 100% !important;
    min-width: auto !important;
  }
}