.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.heading > h3 {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.heading > h4 {
  font-family: "Potta One", cursive;
  font-size: 45px;
  color: rgba(42, 132, 250, 1);
}

.heading_style_primary > h3 {
  color: rgba(42, 132, 250, 1);
}

.heading_style_primary > h4 {
  color: rgba(255, 194, 61, 1);
}

@media screen and (max-width: 670px) {
  .heading > h3 {
    font-size: 30px;
  }

  .heading > h4 {
    font-size: 35px;
  }
}

@media screen and (max-width: 460px) {
  .heading > h3 {
    font-size: 25px;
  }

  .heading > h4 {
    font-size: 30px;
  }
}
