.export_btns {
  margin: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .export_btns {
    margin: 45px 0;
  }
}

@media screen and (max-width: 970px) {
  .export_btns {
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .export_btns {
    gap: 5px;
  }

  .export_btns > .btns {
    padding: 15px 8px;
  }
}