.navbar {
  cursor: pointer;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  /* background-image: linear-gradient(to top, rgb(8, 91, 245), rgb(0, 183, 255)); */
  background-color: rgb(255, 194, 61);
  gap: 40px;
}

.navbar_brand > a {
  font-family: var(--font-potta), cursive;
  font-weight: bolder;
  font-size: 18px;
  margin-block: 0 !important;
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  white-space: nowrap;
}

.navbar_links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.navbar_links > div {
  /* padding-left: 15px;
  padding-right: 15px; */
  font-family: var(--font-potta), cursive;
  font-weight: lighter;
  font-size: 16px;
  color: white;
}

.navbar_links > div > a {
  font-family: var(--font-potta), cursive;
  font-weight: lighter;
  color: white;
  text-decoration: none !important;
  word-spacing: -1px;
  letter-spacing: -0.2px;
}

.navbar_link_active > a {
  font-weight: bold !important;
  text-shadow: 0.7px 0.7px rgb(0, 0, 0);
}

.subnavbar {
  display: flex;
  flex-direction: column;
}

.subnavbar_top {
  min-height: 60px;
  background-color: rgb(255, 194, 61);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.subnavbar_brand > a {
  font-family: var(--font-potta), cursive;
  font-weight: bolder;
  font-size: 22px;
  margin-block: 0 !important;
  color: rgb(255, 255, 255);
  text-decoration: none !important;
}

.subnavbar_menu {
  transform: translateY(3.5px);
  cursor: pointer;
  margin-block: 0 !important;
  color: rgb(255, 255, 255);
}

.subnavbar_menu > a {
  color: rgb(255, 255, 255);
  text-decoration: none !important;
}

.subnavbar_links {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 194, 61, 0.6);
}

.subnavbar_links div {
  width: 100%;
  text-align: center;
}

.subnavbar_links div > a {
  font-size: 22px;
  margin-block: 0 !important;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  display: inline-block;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none !important;
}

.subnavbar_links hr {
  border-top: 1px solid white;
  width: 100%;
}

.display_none {
  display: none;
}

.navbar_github {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.navbar_github > svg {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateY(-1px);
}

@media only screen and (max-width: 920px) {
  .navbar {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 460px) {
  .subnavbar_brand > a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 330px) {
  .subnavbar_brand > a {
    font-size: 16px;
  }
}
