.gpa {
  padding: 50px 70px;
  min-height: calc(100vh - 62px);
}

.gpa_align_top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gpa_align_top input {
  margin-right: 5px;
  padding: 0 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
  min-width: 150px;
}

.gpa_align_middle {
  margin-bottom: 20px;
}

.gpa_align_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gpa_calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 47%;
}

.gpa_result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
}

.gpa_calc_details {
  font-family: "Potta One", cursive;
  font-weight: bolder;
  color: rgba(42, 132, 250, 0.781);
}
