.gpa {
  min-height: calc(100vh - 62px);
}

.gpa_align {
  padding: 80px 70px;
}

.gpa_align_middle {
  margin-bottom: 20px;
}

.gpa_align_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gpa_calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 47%;
  gap: 15px;
}

@media screen and (max-width: 1050px) {
  .gpa_align_bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .gpa_calc {
    width: 100%;
  }

  .gpa_calc_inps {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .gpa_align {
    padding: 50px 30px;
  }

  .gpa_calc {
    width: 100%;
  }

  .gpa_align_bottom {
    width: 100%;
  }

  .gpa_calc_inps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.gpa_calc_details {
  font-family: "Potta One", cursive;
  font-weight: bolder;
  color: rgba(42, 132, 250);
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .gpa_align {
    padding: 50px 5px;
  }
}

@media only screen and (max-width: 460px) {
  .gpa_align {
    padding: 90px 5px 50px;
  }
}
