.cgpa {
  min-height: calc(100vh - 62px);
}

.cgpa_align {
  padding: 50px 70px;
}

.cgpa_align_top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.cgpa_align_top div {
  margin-right: 10px;
  font-family: "Potta One", cursive;
  color: rgb(42, 132, 250);
  font-size: 1.5em;
}

.cgpa_align_top input {
  padding: 15px 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
  min-width: 150px;
}

.cgpa_align_bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cgpa_calc {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 47%;
}

.cgpa_calc_details {
  font-family: "Potta One", cursive;
  font-weight: bolder;
  color: rgba(42, 132, 250, 0.781);
}

.cgpa_result {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 47%;
}

.cgpa_result_details {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px 10px;
}

.cgpa_result_details {
  color: rgb(255, 194, 61);
  font-size: 1.5em;
  font-family: "Potta One", cursive;
}

.cgpa_result_details > div {
  margin-bottom: 10px;
}
