.ggc {
  min-height: calc(100vh - 62px);
}

.ggc_align {
  padding: 50px 70px;
}

.gcc_score {
  max-width: 600px;
  margin: 40px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.ggc_res1 {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ggc_res2 {
  font-size: 17px;
  gap: 10px;
}

.ggc_res1 > span, .ggc_res2 > span {
  color: rgb(255, 194, 61);
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .ggc_align {
    padding: 50px 5px;
  }
}

@media only screen and (max-width: 460px) {
  .ggc_align {
    padding: 90px 5px 50px;
  }
}
