@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --orange: "rgb(255, 194, 61)";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  margin-block: 0;
  line-height: 1 !important;
}

nav {
  z-index: 50;
  position: relative;
}

#__next {
  overflow: hidden;
}

#grading-window {
  display: none;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0px auto;
}

footer {
  position: relative;
  background-color: rgba(255, 194, 61);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: "Potta One", cursive;
  color: white;
  z-index: 50;
  text-align: center;
}

.threshold {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.threshold h4 {
  margin-right: 10px;
  font-family: "Potta One", cursive;
  color: rgb(42, 132, 250);
  font-size: 1.5em;
}

.threshold input {
  padding: 15px 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(133, 133, 133);
  min-width: 150px;
}

.result_pane {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 47%;
  gap: 15px;
}

.result_pane_details {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px 10px;
  gap: 15px;
}

.result_pane_calc_details {
  font-family: "Potta One", cursive;
  font-weight: bolder;
  color: rgba(42, 132, 250, 1);
  font-size: 28px;
  font-weight: bold;
}

.result_pane_details {
  color: rgb(255, 194, 61);
  font-size: 1.5em;
  font-family: "Potta One", cursive;
}

.result_pane_details > div {
  margin-bottom: 10px;
}

.page__title {
  color: rgb(255, 194, 61);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  max-width: 850px;
}

.page__desc {
  font-weight: 400;
  font-size: 18px;
  max-width: 1050px;
}

.page__steps {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-width: 850px;
}

.page__steps > h3 {
  color: rgba(42, 132, 250, 1);
  font-size: 24px;
  margin-bottom: 5px;
}

.page__steps > .page_ol_1 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.page__steps .page_ul_1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 7.5px;
}

.page__steps .page_ul_2 {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  margin-top: 6px;
}

.page__steps .page_ul_2 a {
  color: rgba(255, 194, 61);
  text-decoration: underline;
  font-weight: bold;
}

.detailed-input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.detailed-input > h4 {
  font-size: 20px;
  font-weight: bold;
}

.detailed-input > p {
  font-size: 15px;
  color: grey;
}

.detailed-input > input {
  max-width: 350px;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 7.5px 5px;
  color: gray;
}

@media screen and (max-width: 1050px) {
  .result_pane {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .result_pane {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
  footer {
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 360px) {
  .threshold {
    flex-direction: column;
  }
}
