.home {
  position: relative;
  display: flex;
  width: 100vw;
  /* min-height: 661px; */
  min-height: calc(100vh - 62px);
  align-items: center;
  justify-content: center;
}

.home_items {
  z-index: 5;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.home_item_image {
  z-index: 20;
  width: 53%;
  height: 100%;
  z-index: 20;
}

.home_item_text {
  border-radius: 15px;
  box-shadow: 3px 3px 1px 2px rgba(255, 194, 61, 0.9);
  background-color: rgba(255, 194, 61, 0.781);
  width: 80%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_item_text > * {
  margin-block: 0;
}

.home_item_btn > button {
  border-radius: 7px;
  outline: none;
  border: none;
  padding: 20px 30px 20px 30px;
  font-family: "Cabin", sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.home_item_btn > button:nth-child(1) {
  background-color: rgb(42, 132, 250);
  color: #fff;
}

.home_item_btn > button:nth-child(3) {
  color: rgb(42, 132, 250);
  background-color: #fff;
}

.home_item_btn > span {
  width: 25px;
  display: inline-block;
}

.home_item_text > h1 {
  font-family: "Potta One", cursive !important;
  font-weight: bolder;
  /* color: rgb(255, 106, 46); */
  color: rgb(42, 132, 250);
  padding-bottom: 5px;
}

.home_item_text > p {
  font-family: "Cabin", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 30px;
}

.wave {
  position: relative;
  z-index: 50;
  margin-top: -60px;
}

.about_section__wrapper {
  position: relative;
  z-index: 50;
  background-color: rgba(255, 194, 61, 1);
  margin-top: -4px;
}

.about_section__wrapper h3,
.about_section__wrapper h4,
.about_section__wrapper p,
.about_section__wrapper button {
  line-height: 1 !important;
  margin-block: 0px !important;
}

.about_section {
  padding: 35px 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.about_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}

.about_heading > h3 {
  font-size: 30px;
  font-weight: bolder;
}

.about_heading > h4 {
  font-family: "Potta One", cursive;
  font-size: 45px;
  color: rgba(42, 132, 250, 1);
}

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  align-items: center;
}

.about_paras {
  grid-column: 1 / span 6;
  text-align: left;
  display: flex;
  gap: 15px;
  font-size: 20px;
  flex-direction: column;
  width: 120%;
}

.about_img {
  grid-column: 7 / span 6;
  display: flex;
  min-width: 600px;
}

.about_para__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  margin-top: 25px;
}

.about_para__btn > a {
  display: flex;
  border-radius: 30px;
  padding: 18px 16px;
  background-color: rgb(42, 132, 250);
  font-size: 16px;
  transition: all 0.5s ease;
  text-align: center;
  font-weight: bold;
}

.about_para__btn > a:hover {
  transform: scale(1.05);
}

.about_para__btn > a:nth-child(2) {
  color: rgb(42, 132, 250);
  background-color: #fff;
}

@media only screen and (max-width: 1200px) {
  .home_items {
    flex-direction: column;
    position: relative;
    width: 85%;
  }
  .home_item_image {
    position: relative;
    width: 60%;
    height: 80%;
    transform: translateY(50px);
  }
  .home_item_text {
    position: relative;
    transform: translateY(-100px);
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
    width: 90%;
  }

  .wave {
    margin-top: 0px;
  }

  .about {
    row-gap: 2rem;
  }

  .about_paras {
    order: 2;
    grid-column: 1 / span 12;
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }

  .about_para__btn {
    justify-content: center;
  }

  .about_img {
    order: 1;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 650px;
    margin: -40px auto;
    min-width: auto;
    align-self: center;
  }
}

@media only screen and (max-width: 1000px) {
  .home_item_image {
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .home_item_image {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .home_items {
    width: 95%;
  }
  .home_item_image {
    width: 85%;
  }
  .home_item_text {
    width: 90%;
    height: 60%;
    padding: 15px;
    padding-top: 120px;
  }
  .home_item_text > h1 {
    font-size: 30px;
  }
  .home_item_text > p {
    font-size: 19px;
  }
}

@media only screen and (max-width: 590px) {
  .home_items {
    width: 95%;
  }
  .home_item_image {
    width: 95%;
    transform: translateY(50px);
  }
  .home_item_text {
    position: realtive;
    transform: translateY(-60px);
    width: 95%;
  }
  .home_item_text > h1 {
    font-size: 26px;
  }
  .home_item_text > p {
    font-size: 17px;
  }
  .home_item_btn > span {
    width: 10px;
  }
  .home_item_btn > button {
    padding: 15px 20px 15px 20px;
    font-family: "Cabin", sans-serif;
  }
}

@media only screen and (max-width: 460px) {
  .home_items {
    background-color: rgba(42, 132, 250, 0.781);
    width: 100%;
    min-height: calc(100vh - 62px);
  }
  .home_item_image {
    position: relative;
    width: 95%;
    transform: translateY(50px) !important;
  }
  .home_item_text {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    transform: translateY(-65px) !important;
    width: 95%;
    padding: 15px;
  }
  .home_item_text > h1 {
    font-size: 23px;
    color: rgb(255, 194, 61);
    padding-bottom: 20px;
  }
  .home_item_text > p {
    font-size: 15px;
  }
  .home_item_btn > span {
    width: 10px;
  }
  .home_item_btn > button {
    padding: 15px 17px 15px 17px;
    font-size: 17px;
    font-weight: 500;
  }
  .home_item_btn > button:nth-child(1) {
    background-color: rgb(255, 194, 61);
  }
  .home_item_btn > button:nth-child(3) {
    color: rgb(255, 194, 61);
  }

  .wave {
    margin-top: -30px;
  }
}
